.width_m_auto {
  width: 90%;
  margin: 0 auto;
}

.input_group_new {
  width: 5%;
}

.form-horizontal .control-label {
  text-align: left;
}


.width_m_auto .form-group .mAuto_dBlock {
  margin: 0 auto;
  display: block;
}
